page-tabs
{
    // .thirdTab{
    //     width: 150px;
    //     height: 150px;
    //     background: red;
    //     border-radius: 50%;
    //     position: absolute;
    //     top: 50px;
    //     left: 50px;
    // }
    .tabbar {
        z-index: 2;
        background-color: #155c14 !important;
    }
    ion-icon {
        color: white;
    }
}